.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1040px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 40px;
}

.mt-6 {
  margin-top: 48px;
}

.mt-7 {
  margin-top: 56px;
}

.mt-8 {
  margin-top: 64px;
}

.mt-9 {
  margin-top: 72px;
}

.mt-10 {
  margin-top: 80px;
}

.mt-11 {
  margin-top: 88px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-7 {
  margin-bottom: 56px;
}

.mb-8 {
  margin-bottom: 64px;
}

.mb-9 {
  margin-bottom: 72px;
}

.mb-10 {
  margin-bottom: 80px;
}

.mb-11 {
  margin-bottom: 88px;
}

.mb-15 {
  margin-bottom: 120px;
}

.mb-20 {
  margin-bottom: 160px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.ml-4 {
  margin-left: 32px;
}

.ml-5 {
  margin-left: 40px;
}

.ml-6 {
  margin-left: 48px;
}

.ml-7 {
  margin-left: 56px;
}

.ml-8 {
  margin-left: 64px;
}

.ml-9 {
  margin-left: 72px;
}

.ml-10 {
  margin-left: 80px;
}

.ml-11 {
  margin-left: 88px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mr-4 {
  margin-right: 32px;
}

.mr-5 {
  margin-right: 40px;
}

.mr-6 {
  margin-right: 48px;
}

.mr-7 {
  margin-right: 56px;
}

.mr-8 {
  margin-right: 64px;
}

.mr-9 {
  margin-right: 72px;
}

.mr-10 {
  margin-right: 80px;
}

.mr-11 {
  margin-right: 88px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 24px;
}

.pt-4 {
  padding-top: 32px;
}

.pt-5 {
  padding-top: 40px;
}

.pt-6 {
  padding-top: 48px;
}

.pt-7 {
  padding-top: 56px;
}

.pt-8 {
  padding-top: 64px;
}

.pt-9 {
  padding-top: 72px;
}

.pt-10 {
  padding-top: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-11 {
  padding-top: 88px;
}

.pt-12 {
  padding-top: 96px;
}

.pt-20 {
  padding-top: 160px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 24px;
}

.pb-4 {
  padding-bottom: 32px;
}

.pb-5 {
  padding-bottom: 40px;
}

.pb-6 {
  padding-bottom: 48px;
}

.pb-7 {
  padding-bottom: 56px;
}

.pb-8 {
  padding-bottom: 64px;
}

.pb-9 {
  padding-bottom: 72px;
}

.pb-10 {
  padding-bottom: 80px;
}

.pb-11 {
  padding-bottom: 88px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 24px;
}

.pl-4 {
  padding-left: 32px;
}

.pl-5 {
  padding-left: 40px;
}

.pl-6 {
  padding-left: 48px;
}

.pl-7 {
  padding-left: 56px;
}

.pl-8 {
  padding-left: 64px;
}

.pl-9 {
  padding-left: 72px;
}

.pl-10 {
  padding-left: 80px;
}

.pl-11 {
  padding-left: 88px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 24px;
}

.pr-4 {
  padding-right: 32px;
}

.pr-5 {
  padding-right: 40px;
}

.pr-6 {
  padding-right: 48px;
}

.pr-7 {
  padding-right: 56px;
}

.pr-8 {
  padding-right: 64px;
}

.pr-9 {
  padding-right: 72px;
}

.pr-10 {
  padding-right: 80px;
}

.pr-11 {
  padding-right: 88px;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 800;
}
.header__content {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__content {
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(219, 219, 219, 0.25);
  }
}
.header__content-mobil {
  display: none;
}
@media (max-width: 768px) {
  .header__content-mobil {
    justify-content: center;
    height: 420px;
    position: absolute;
    background-color: #FFF;
  }
}
.header__content-mobil_active {
  display: flex;
}
.header__logo {
  max-width: 110px;
}
.header__list {
  display: flex;
}
@media (max-width: 768px) {
  .header__list {
    display: none;
  }
}
.header__list_mobile {
  display: none;
}
@media (max-width: 768px) {
  .header__list_mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 300px;
  }
}
.header__list-item {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #373737;
}
@media (max-width: 768px) {
  .header__list-item_mobile {
    padding: 24px 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  }
}

.order {
  background: url("/images/prevy.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 571px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .order__wrap {
    margin-left: 37px;
  }
}
.order__header {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .order__header {
    padding-top: 58px;
  }
}
.order__header-text {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  font-family: "Montserrat-Bold";
}
.order__content {
  max-width: 586px;
}
@media (max-width: 768px) {
  .order__content {
    max-width: 470px;
  }
}
.order__content-prev {
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.02em;
  font-family: "Montserrat-Bold";
}
@media (max-width: 768px) {
  .order__content-prev {
    font-size: 28px;
    line-height: 34px;
  }
}
.order__content-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
@media (max-width: 768px) {
  .order__content-description {
    font-size: 14px;
    line-height: 17px;
    max-width: calc(100% - 74px);
  }
}

.long-line {
  font-weight: 800;
  font-size: 14px;
}
.long-line_order {
  color: #18A0FB;
}
.long-line_other {
  color: #DD3333;
}

.button {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #18A0FB;
  border: none;
  border-radius: 4px;
  padding: 15px 49px;
  text-align: center;
}

.hero {
  position: relative;
  bottom: -64px;
}
@media (max-width: 1200px) {
  .hero {
    bottom: -45px;
  }
}
@media (max-width: 768px) {
  .hero {
    bottom: -175px;
    width: 90%;
  }
}
@media (max-width: 374px) {
  .hero {
    bottom: -81px;
  }
}
.hero__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .hero__list {
    height: 140px;
  }
}
@media (max-width: 374px) {
  .hero__list {
    height: 80px;
  }
}
.hero__list-item {
  background: #FFFFFF;
  box-shadow: 0px 8px 15px rgba(46, 21, 21, 0.16);
  border-radius: 8px;
}
@media (max-width: 768px) {
  .hero__list-item {
    display: block;
    max-width: 140px;
    width: 140px;
    text-align: center;
  }
}
@media (max-width: 374px) {
  .hero__list-item {
    width: 80px;
  }
}
.hero__list-item-content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .hero__list-item-content {
    margin-top: 30px;
    padding: 0;
    display: block;
  }
}
@media (max-width: 374px) {
  .hero__list-item-content {
    margin-top: 4px;
  }
}
.hero__list-item-img {
  max-width: 72px;
}
.hero__list-item-title {
  max-width: 212px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #333333;
}
@media (max-width: 768px) {
  .hero__list-item-title {
    display: none;
  }
}

.about {
  display: flex;
  justify-content: space-between;
}
.about__img {
  max-width: 700px;
  margin-top: 150px;
}
@media (max-width: 768px) {
  .about__img {
    display: none;
  }
}
.about__container {
  margin-top: 150px;
}
@media (max-width: 768px) {
  .about__container {
    width: 90%;
    margin-top: 0;
  }
}
@media (max-width: 374px) {
  .about__container {
    margin-top: 32px;
  }
}
.about__content {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #333333;
}
@media (max-width: 768px) {
  .about__content {
    max-width: 90%;
  }
}

.categories {
  background-color: #FAFAFA;
}
@media (max-width: 768px) {
  .categories__header {
    max-width: 90%;
    margin: 0 auto 16px;
  }
}
.categories__header-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #18A0FB;
}
.categories__title {
  font-family: "Montserrat-Bold";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #333333;
}
.categories__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.categories__list-item {
  max-width: 320px;
  height: 320px;
  filter: drop-shadow(0px 8px 15px rgba(132, 132, 132, 0.25));
}
.categories__name {
  position: relative;
  bottom: 72px;
  z-index: 99;
  background: #fff;
  padding: 26px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #333333;
}

.paragraf__title {
  color: #18A0FB;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
}
.paragraf__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #333333;
}
@media (max-width: 768px) {
  .paragraf__name {
    max-width: 90%;
    margin: 0 auto 16px;
    display: block;
  }
}

@media (max-width: 768px) {
  .products__header {
    max-width: 90%;
    margin: 16px auto 16px;
  }
}
.products__container {
  max-width: 230px;
}
.products__container:hover {
  cursor: pointer;
}
.products__short-description {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #333333;
}
.products__img-shower {
  height: 350px;
}
.products__img-bath {
  height: 100px;
}
.products__img-sink {
  height: 230px;
}
.products__img-mixer {
  height: 240px;
}
.products__name {
  padding: 8px 0;
}
@media (max-width: 768px) {
  .products__name {
    font-size: 12px;
  }
}
.products__popup-header {
  color: #333333;
}
@media (max-width: 768px) {
  .products__popup-header {
    font-size: 12px;
  }
}
.products__popup-img {
  max-width: 50%;
}
.products__popup-img_shower {
  height: 400px;
  width: 300px;
}
@media (max-width: 768px) {
  .products__popup-img_shower {
    margin: 0 auto;
    height: auto;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .products__popup-img {
    margin: 0 auto;
    max-width: 100%;
  }
}
.products__popup-description {
  width: 45%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .products__popup-description {
    margin: 0 auto;
    width: 100%;
  }
}
.products__popup-list {
  margin-top: 16px;
  margin-bottom: 32px;
}
.products__popup-list-item {
  padding: 8px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.footer {
  background-color: #FAFAFA;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer__container {
    justify-content: center;
  }
}

#map {
  width: 510px;
  height: 325px;
  margin: 0 auto;
}

.contacts {
  max-width: 470px;
}
@media (max-width: 768px) {
  .contacts {
    margin-top: 32px;
  }
}
.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacts__list-item {
  max-width: 230px;
}
.contacts__list-header {
  display: block;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.02em;
  color: #666666;
}
.contacts__list-content {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #333333;
}

.hamburger {
  display: none;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 36px;
    top: 15px;
    width: 32px;
    padding-top: 20px;
    height: 25px;
    text-align: center;
    align-items: center;
  }
}
.hamburger__line-container {
  position: relative;
  width: 24px;
  height: 12px;
}
.hamburger__line {
  display: block;
  width: 24px;
  height: 2px;
  background: rgba(51, 51, 51, 0.7);
  position: absolute;
  left: 0;
  transition: transform 175ms;
}
:last-child .hamburger__line_left-active {
  transform: translateY(4px) rotate(45deg);
}
.hamburger__line_right-active {
  transform: translateY(-5px) rotate(-45deg);
}
.hamburger__line_none {
  display: none;
}
.hamburger__line_midl {
  top: -9px;
}
.hamburger__line:last-child {
  bottom: 0;
}

.popup-fade {
  display: none;
}

.popup-fade:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999;
}

.popup-about {
  position: fixed;
  top: 20%;
  right: 10%;
  padding: 20px;
  width: 75%;
  margin-left: -200px;
  background: #fff;
  border: 1px solid orange;
  border-radius: 4px;
  z-index: 99999;
  opacity: 1;
  color: #333;
}
.popup-about__header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #333333;
}
.popup-about__body {
  margin: 46px auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.popup-about__body-img {
  width: 40%;
}
.popup-about__body-text {
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #333333;
}
@media (max-width: 768px) {
  .popup-about__body {
    flex-direction: column;
  }
  .popup-about__body-img {
    width: 100%;
  }
  .popup-about__body-text {
    width: 100%;
    margin-top: 32px;
  }
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}

.popup-content {
  position: relative;
  background-color: #FFF;
  margin: auto;
  padding: 0;
  width: 80%;
  top: 15%;
  animation-name: topdown;
  animation-duration: 0.6s;
  border-radius: 8px;
}

@keyframes topdown {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 15%;
    opacity: 1;
  }
}
.popup-header {
  background-color: #18A0FB;
  color: #fff;
  display: flex;
  padding: 2px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.close {
  color: #dfdfdf;
  font-size: 28px;
  font-weight: 700;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

.popup-body {
  padding: 2px 16px;
  max-width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  padding: 20px 0;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .popup-body {
    display: block;
    margin: 0 auto;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  background-color: #fff;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #373737;
}

/*# sourceMappingURL=style.css.map*/