.card-header
    ul.nav.nav-pills.card-header-pills
        
        li.nav-item
            a.nav-link.news-CRUD-button(href='/adminPanel/bathroom') Ванные
        li.nav-item
            a.nav-link.shares-CRUD-button(href='/adminPanel/shower') Душевые кабининки
        li.nav-item
            a.nav-link.shares-CRUD-button(href='/adminPanel/sinks') Раковины
        li.nav-item
            a.nav-link.shares-CRUD-button(href='/adminPanel/mixer') Смесители
        li.nav-item
            a.nav-link.shares-CRUD-button(href='/adminPanel/towel') Полотецесушители
        li.nav-item
            a.nav-link.shares-CRUD-button(href='/adminPanel/toilet') Унитазы