extends layout
block head
  link(rel="stylesheet", href="/assets/styleAdmin.css")
block content

  .row.mt-5
      .col-md-4
      form.login-form.col-md-4
          .mb-12.row
              label.col-sm-2.col-form-label(for='login') login
          .col-sm-12
              input#login.form-control(type='text' name="login" placeholder="Your login" autocomplete="off" value='')
          .mb-12.row
              label.col-sm-2.col-form-label(for='password') Password
          .col-sm-12
              input#password.form-control(type='password' name="password" placeholder="Your password" value='' )
          button.btn.btn-outline-primary.col-sm-12.mt-3(type='submit' name="buttonEntry") Entry


block footer
  script(src="/assets/vendor.js")
  script(src="/assets/admin.js")