@font-face{
    font-family: "Baton Turbo";
    src: url("/fonts/Baton-Turbo-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face{
    font-family: "Baton Turbo";
    src: url("/fonts/Baton-Turbo-Medium.woff") format("woff");
    font-weight: 500;
}