@import "./utils/wrap.scss";
@import "./utils/m.scss";
@import "./utils/p.scss";
@import 'swiper/swiper-bundle.css';

// ************************************************
@import "./fonts.scss";
// ************************************************
@import "./block/header.scss";
@import "./block/order.scss";
@import "./block/long-line.scss";
@import "./block/button.scss";
@import "./block/hero.scss";
@import "./block/about.scss";
@import "./block/categories.scss";
@import "./block/paragraf.scss";
@import "./block/products.scss";
// ************************************************
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
body{
    background-color: #fff;
}
img{
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #373737;
}