.about {
    display: flex;
    justify-content: space-between;

    &__img {
        max-width: 700px;
        margin-top: 150px;
         
        @include _768 {
            display:  none;
        }
    }

    &__container {
        margin-top: 150px;
        @include _768 {
        width: 90%;
        margin-top: 0;
        }
        @include _374{
            margin-top: 32px;
        }
    }

    &__content {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #333333;
        @include _768{
        max-width: 90%;
        }
    }
}