.about {
    display: flex;
    justify-content: space-between;

    &__img {
        max-width: 700px;
        margin-top: 150px;

    }

    &__container {
        margin-top: 150px;
    }

    &__headers {
        color: #18A0FB;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
    }

    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.02em;
        color: #333333
    }

    &__content {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;

        color: #333333;
    }
}