
.popup-content {
    position: relative;
    background-color: #FFF;
    margin: auto;
    padding: 0;
    width: 80%;
    top: 15%;
    animation-name: topdown;
    animation-duration: .6s;
    border-radius: 8px;
}


@keyframes topdown {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 15%;
        opacity: 1;
    }
}