.popup-body {
    padding: 2px 16px;
    max-width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    justify-self: center;
    padding: 20px 0;
    margin: 0 auto;

    @include _768{
        display: block;
        margin: 0 auto;
    }
}