.popup-fade {
    display: none;
}

.popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.popup-about {
    position: fixed;
    top: 20%;
    right: 10%;
    padding: 20px;
    width: 75%;
    margin-left: -200px;
    background: #fff;
    border: 1px solid orange;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
    color: #333;

    &__header {
        display: flex;
        justify-content: space-between;
        width: 90%;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.02em;
        color: #333333;

    }

    &__body {
        margin: 46px auto;
        display: flex;
        width: 90%;
        justify-content: space-between;
    }

    &__body-img {
        width: 40%;
    }

    &__body-text {
        width: 50%;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        letter-spacing: 0.02em;

        color: #333333;
    }

    @include _768{
        &__body{
        flex-direction: column;
        }
        &__body-img {
            width: 100%;
        }
        &__body-text {
            width: 100%;
            margin-top: 32px;
        }
    }
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
}