extends layout
block head
  link(rel='stylesheet', href='./assets/style.css')
  //- link(rel="stylesheet", href="./assets/vendor.css")

block content
  section.header 
    .wrap.header__content 
      img(src="./images/logo.png", alt="", srcset="")
      ul.header__list 
        li Категории
        li О компании
        li контакты
        li Мы на карте
